<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Serialization Demo</display-name>
    <description>
        This web application demonstrates deserialization security flaws.
    </description>

    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>demo.serialization.DemoServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/servletdemo</url-pattern>
    </servlet-mapping>

</web-app> 